<h2 mat-dialog-title>Crea Vm</h2>
<mat-dialog-content>

  <!--createVmForm-->
  <form [formGroup]="createVmForm" class="form">

        <!--Nome Vm-->
        <mat-form-field>
        <input #name type="text" placeholder="Nome VM" [formControl] = "name" matInput required>
        <mat-error *ngIf="createVmForm.get('name').hasError('required')">Campo obbligatorio </mat-error>
        </mat-form-field>

        <!--Vcpu-->
        <mat-form-field>
        <input #vcpu class="input" type="number" placeholder="Numero di VCPU" [formControl] = "vcpu" matInput  value="4" required>
        <mat-error *ngIf="createVmForm.get('vcpu').hasError('required')">Campo obbligatorio </mat-error>
        <mat-error *ngIf="createVmForm.hasError('max','vcpu')">Numero di Vcpu disponibile: {{team.maxVpcuLeft}} </mat-error>
        </mat-form-field><br>

        <!--Ram-->
        <mat-form-field>
        <input #ram class="input" type="number" placeholder="Dimensione RAM (GB)" [formControl] = "ram" matInput value="8" required>
        <mat-error *ngIf="createVmForm.get('ram').hasError('required')">Campo obbligatorio </mat-error>
        <mat-error *ngIf="createVmForm.hasError('max','ram')">La Ram disponibile: {{team.ramLeft}} </mat-error>
        </mat-form-field><br>

        <!--Disk-->
        <mat-form-field>
        <input #disk class="input" type="number" placeholder="Spazio disco (GB)" [formControl] = "disk" matInput  value="100" required>
        <mat-error *ngIf="createVmForm.get('disk').hasError('required')">Campo obbligatorio </mat-error>
        <mat-error *ngIf="createVmForm.hasError('max','disk')">Lo spazio disponibile: {{team.diskSpaceLeft}} </mat-error>
        </mat-form-field><br>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="close()">Annulla</button>
    <button mat-button mat-raised-button color="primary" (click)="createVM(vcpu.value, disk.value, ram.value, name.value)">Crea</button>
</mat-dialog-actions>

