h1 {
    padding-top: 20%;
    text-align:center;
    text-decoration: solid;
    color: rgb(12, 184, 49);
    font-size: xx-large;
    font: bold;
}

h2 {
    text-align:center;
    text-decoration: solid;
}