<!--Tabella Gruppo-->
  <mat-card class="card">
     <mat-card-header>
        <mat-card-title>Nome Gruppo</mat-card-title>
        <mat-card-subtitle>Gruppo</mat-card-subtitle>
         <!-- Bottone Composizione gruppo -->
           <div class="button-request">
            <button mat-raised-button color="primary" (click)="openRequestDialog()" >
               <mat-icon>playlist_add</mat-icon>
               Nuovo gruppo</button>
           </div>
      </mat-card-header>

      <mat-card-content>
            <div class="tableContainer"*ngIf="tableTeamVisibility">
              <table #table mat-table [dataSource]="dataSourceTeam" matSort class="matTable">
                  <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricola </th>
                      <td mat-cell *matCellDef="let row">{{row.id}}  </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome  </th>
                      <td mat-cell *matCellDef="let row">  </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato </th>
                      <td mat-cell *matCellDef="let row">  </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTeam"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTeam"></tr>
              </table>
              <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
              </mat-paginator>
            </div>
      </mat-card-content>
  </mat-card>

<!--Tabella Richieste gruppo-->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Richieste</mat-card-title>
        <mat-card-subtitle>Gruppi</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="tableContainer"*ngIf="tableRequestVisibility">
          <table #table mat-table [dataSource]="dataSourceRequest" matSort class="matTable">
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricola </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
              <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>

              <ng-container matColumnDef="groupName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Gruppo </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>

              <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
              <ng-container matColumnDef="timestamp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
              <ng-container matColumnDef="scelta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Scelta</th>
                <td mat-cell *matCellDef="let row">
                  <!--Acetta Proposta-->
                  <button mat-raised-button color="primary" (click)="openRequestDialog()" >
                    <mat-icon>done</mat-icon>Accetta
                  </button>

                  <!--Rifiuta Proposta-->
                  <button mat-raised-button color="primary" (click)="openRequestDialog()" >
                    <mat-icon>clear</mat-icon>Rifiuta
                  </button>

                </td>
            </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsRequest"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRequest"></tr>
          </table>

          <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">

          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
