.button-request {
}

.mat-table{
  margin:2%;
  width: 100%;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.contMyProp{

}

.myProposal{
  background-color: #5654b12d;
}

.tableContainer {
    overflow: hidden;
}


.dialogRequest{
    background-color: blue;
}
