.button-request {
    margin-left: 72%;
}

.mat-table{
  margin:2%;
  width: 100%;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.tableContainer {
    overflow: hidden;
}


.dialogRequest{
    background-color: blue;
}
