<h1>Elaborati degli studenti</h1>

<div class="assContainer">
    <div class="container1">
        <div class="assignments">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let ass of assignments" [value]="ass" (click)="showHomeworks(ass)"> 
                    {{ ass.name }}    
                </mat-list-option>
            </mat-selection-list>
        </div>

        <button mat-button (click)="openDialogAss()" class="create">
            <mat-icon>add_circle</mat-icon>Crea consegna
        </button>
    </div>

    <div class="container2">
        <app-homeworks-cont class="tableContainer" *ngIf="tableVisibility" [assignment]="ASSIGNMENT"> 
            
        </app-homeworks-cont>
    </div>
</div>
