.assContainer {
    width: 100%;
    overflow: hidden; 
}

.container1 {
    float: left;
    width: 30%;
}

.container2 {
    float: right;
    width: 60%;
    margin-right: 2%;
}

.assignments {
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 5%;
}

h1 {
    font-weight: bold; 
    margin: 1em;
}

h3 {
    text-align: center;
}

.create {
    margin: 1em;
}