<h1>Elaborati degli studenti</h1>
<!-- Bottone Crea Consegna -->
<div class="button-request" align="right">
    <button mat-button  align ="end" mat-raised-button color="primary" (click)="openDialogAss()">
        <mat-icon>assignment</mat-icon>Crea consegna </button>
</div>

<div class="assContainer" *ngIf="assVisibility">
    <div class="container1">
        <div class="assignments">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let ass of assignments" [value]="ass" (click)="showHomeworks(ass)"> 
                    {{ ass.assignmentName }}    
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>

    <div class="container2">
        <app-homeworks-cont class="tableContainer" *ngIf="tableVisibility" [assignment]="ASSIGNMENT"> 
        </app-homeworks-cont>
    </div>
</div>
<div class="noAss" *ngIf="!assVisibility">
    <h3>Ancora nessuna consegna</h3>
</div>
