<h2 mat-dialog-title>Crea consegna</h2>
<mat-dialog-content>
    <div>
        <p>Nome della consegna</p>
        <mat-form-field>
        <input type="text" placeholder="Nome della consegna" matInput required>
        </mat-form-field>
    </div>
    <br>
    <div>
        <p>Data creazione</p>
        <mat-form-field>
        <input type="date" placeholder="Creazione" name="currentDate" [ngModel]="currentDate | date:'yyyy-MM-dd'"
         matInput readonly required>
        </mat-form-field>
    </div>
    <br>
    <div>
        <p>Data di scadenza</p>
        <mat-form-field>
        <input type="date" placeholder="Scadenza" name="oneWeek" [ngModel]="oneWeek | date:'yyyy-MM-dd'" matInput required>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">Annulla</button>
    <button mat-button mat-raised-button color="primary" click="createAss()">Crea</button>
</mat-dialog-actions>

