<button mat-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="vr-container"> 
    <div class="versions-corrections">
        <div class="versions">
            <h3>Versioni elaborato</h3>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let ver of versions" [value]="ver"> 
                    {{ ver.timestamp }}    
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="separator"></div> 
        <div class="corrections">
            <h3>Revisioni</h3>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let rev of corrections" [value]="rev"> 
                    {{ rev.timestamp }}    
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>


    <button mat-button class="upload">
        <mat-icon>cloud_upload</mat-icon>Carica revisione
    </button>
</div>
