<mat-card class="card" *ngIf="availableStudents.length >= min - 1">
  <mat-card-header>
    <mat-card-title>
      <button class="iconButton" mat-icon-button color="primary" onclick="this.blur()" (click)="backToTeams()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      Composizione gruppo
    </mat-card-title>
    <mat-card-subtitle *ngIf="max > 1">Invia una richiesta di partecipazione ai tuoi colleghi studenti</mat-card-subtitle>
    <mat-card-subtitle *ngIf="max == 1">Per questo corso i gruppi sono composti da un solo membro</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="CreateTeamForm">
      <!--Nome Gruppo-->
      <mat-form-field class="input">
            <mat-label>Gruppo</mat-label>
            <mat-icon matSuffix>group</mat-icon>
            <input #nameTeam matInput required formControlName="name" placeholder="Nome gruppo" required>
            <mat-error *ngIf="CreateTeamForm.get('name').hasError('required')">Inserisci un nome per il gruppo</mat-error>
      </mat-form-field><br>

      <!--Durata Richieste-->
      <mat-form-field class="input">
        <input
          #timeout
            matInput
            [matDatepicker]="dp"
            placeholder="Scadenza richiesta"
            formControlName="date"
            [formControl]="dateControl"
            [min]="currentDate"
        >
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="CreateTeamForm.get('date').hasError('required')">Seleziona un timeout richiesta</mat-error>
      </mat-form-field>
      <br>

      <!--<div *ngIf="max > 1 && availableStudents.length >= min - 1">
        <mat-form-field class="gruppo">
          <mat-label>Questo corso accetta da {{min}} a {{max}} partecipanti per team</mat-label>
          <input #input type="search" placeholder="Aggiungi partecipante" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onStudentSelected($event.option.value)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}} {{option.firstName}} ({{option.id}})
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-mini-fab color="primary" [disabled]="studentsToAdd.length == max - 1" (click)="addStudent()">
          <mat-icon>add</mat-icon>
        </button>
      </div>-->
      <br>
      <h3>Questo corso accetta da {{min}} a {{max}} partecipanti per team</h3>
      <h3 *ngIf="min == 1">(Se non selezioni nessuno, il team sarà creato solo con te come partecipante)</h3>
      <br>
      <!--Tabella studenti-->
      <div class="tableContainer" *ngIf="max > 1">
          <table #table mat-table [dataSource]="dataSource" matSort class="matTable">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox #checkall (change)="selectCurrentPage($event.checked)"
                                        [checked]="currentItemsSelected()"
                                        [indeterminate]="selectedStudents.hasValue() && !currentItemsSelected()"
                                        >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row"><mat-checkbox #checksingle (change)="selectStudent($event.checked, row)"
                                  (click)="$event.stopPropagation()"
                                  [checked]="selectedStudents.isSelected(row)"></mat-checkbox></td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)" ></mat-paginator>
      </div>
      <br>
    </form>

    <mat-progress-bar mode="query" *ngIf="querying"></mat-progress-bar>

    <button mat-raised-button color="primary" *ngIf="availableStudents.length >= min - 1" [disabled]="querying" (click)="proposeTeam(nameTeam.value, timeout.value)" cdkFocusInitial>Crea</button>
  </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="availableStudents.length < min - 1">
  <h3><strong>Attualmente non ci sono studenti disponibili a sufficienza per creare un team</strong></h3>
</mat-card>

