.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.matTable {
  width: 100%;
}

.iconButton:hover {
  background-color:#001ea34d;
}

.button{
  margin:1%;
}

.tableContainer {
  width: 100%;
}

.matTable {
  width: 90%;
}

.input{
  width: 50%;
  margin-left: 20%;
}
