<h2 mat-dialog-title>Recupera Password</h2>
<mat-dialog-content>

   <!--ForgotPasswordForm-->
   <form [formGroup]="ForgotPasswordForm">

    <h3> Inserisci la tua email </h3>
    <!--ID-->
    <mat-form-field>
      <input #email type="email" placeholder="Email" formControlName="email" matInput required>
        <mat-error *ngIf="ForgotPasswordForm.hasError('required','email')">Email non valida</mat-error>
     </mat-form-field><br>

   <!--Register-->
    <div class="register"> Non sei registrato?
    <button mat-button mat-stroked-button (click)="openDialogRegister()">Registrati</button>
    </div><br>
  </form>

</mat-dialog-content>

<mat-progress-bar mode="query" *ngIf="querying"></mat-progress-bar>

<div *ngIf="error || ok">
  <br>
  <a color="warn" *ngIf="error">Controllare di aver inserito l'email corretta e riprovare</a>
  <a color="primary" *ngIf="ok">Una mail è stata inviata con le istruzioni da seguire</a>
  <br>
</div>

<mat-dialog-actions>
  <button mat-button mat-raised-button color="warn" *ngIf="ok" (click)="close()">Chiudi</button>
  <button mat-button mat-raised-button color="warn" *ngIf="!ok" (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="resetPassword(email.value)">Recupera</button>
</mat-dialog-actions>
