<h2 mat-dialog-title>Recupera Password</h2>
<mat-dialog-content>

   <!--ForgotPasswordForm--> 
   <form [formGroup]="ForgotPasswordForm">

    <h3> Inserisci L'email con cui ripristinare il tuo account </h3>
    <!--Email-->
    <mat-form-field>
      <input #email type="email" placeholder="Email" formControlName="email" matInput required>
        <mat-error *ngIf="ForgotPasswordForm.hasError('required','email')">Email non valida</mat-error>
        <mat-error *ngIf="ForgotPasswordForm.get('email').hasError('emailDomain')">Utilizza il dominio: studenti.polito.it o polito.it</mat-error> 
     </mat-form-field><br>

   <!--Register-->
    <div class="register"> Non sei registrato?
    <button mat-button mat-stroked-button (click)="openDialogRegister()">Registrati</button>
    </div><br>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-raised-button color="warn"(click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="sendPassword(email)">Recupera</button>
</mat-dialog-actions>
