<h1>Elenco studenti iscritti al corso</h1>
<form style="margin-left: 2em;">
    <mat-form-field class="matForm">
        <input #input type="search"
                placeholder="Aggiungi studente"
                aria-label="Student"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onStudentSelected($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}} {{option.firstName}} ({{option.id}})
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="addStudent()">Aggiungi</button>
</form>
<div class="tableContainer"> 
    <table #table mat-table [dataSource]="dataSource" matSort class="matTable">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef><mat-checkbox #checkall (change)="selectAll($event.checked)"
                                [checked]="selectedStudents.hasValue() && allSelected()"
                                [indeterminate]="selectedStudents.hasValue() && !allSelected()"></mat-checkbox></th>
            <td mat-cell *matCellDef="let row"><mat-checkbox #checksingle (change)="selectStudent($event.checked, row)"
                                (click)="$event.stopPropagation()"
                                [checked]="selectedStudents.isSelected(row)"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gruppo </th>
            <td mat-cell *matCellDef="let row"> {{row.group}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                
    </mat-paginator>

    <button mat-button class="delete">
    <mat-icon aria-label="" (click)=deleteStudent()>delete</mat-icon>
    </button>
</div>
