.mat-elevation-z8 {
    width: 100%;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.buttonClicca{
  margin-left:2%;
  background-color: lavender;
}

.message{
  margin:2%;
  width: 87%;
}

.mat-table{
  margin:2%;
  width: 90%;
}

.matForm {
    width: 40%;
}

.tableContainer {
    margin: 2em;
}

.noStudents {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.button  {
    margin-left: 2em;
}

.inputfile {
    display: none;
}

.noStudents {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
