.cardVersion {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom:2%;
}

.title{
  color:#3F51B5;
}


.versions-corrections {
    display: flex;
    justify-content: center;
}

.noVersions {
    text-align: center;
}

.vr-container {
    text-align: center;
}

.mat-list-option{
  padding: 0 0px;
}
.bt-rev{
  padding-right:0.5%;
}

.versions {
    margin-right: 10%;
}

.corrections {
    margin-left: 10%;
}

.separator {
    border-left: 3px solid black;
    min-height: 3em;
    height: auto;
    left: 50%;
}

.upload {
    display: inline-block;
    margin-top: 1em;
}

.inputfile {
    display: none;
}

.iconClose:hover{
  background-color:#001ea34d;
}

.mat-list-option:active{
  background-color:#281fa846;
  color: black;
}
.mat-list-option:hover{
  background-color:#001ea34d;
  color: black;
}
