.versions-corrections {
    display: flex;
    justify-content: center;
}

.noVersions {
    text-align: center;
}

.vr-container {
    text-align: center;
}

.versions {
    margin-right: 10%;
}

.corrections {
    margin-left: 10%;
}

.separator { 
    border-left: 3px solid black; 
    min-height: 3em; 
    height: auto;
    left: 50%; 
} 

.upload {
    display: inline-block;
    margin-top: 1em;
}

.inputfile {
    display: none;
}