<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button mat-icon-button color="primary" (click)="back()">
                <mat-icon>close</mat-icon>
            </button>
            Versioni elaborato
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
        <div class="vr-container"> 
            <div class="versions-corrections">
                <div class="versions">
                    <h3>Versioni</h3>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let ver of versions" [value]="ver"> 
                            <div style="display: flex;">
                                <div (click)="openVersionImage(ver)">{{ ver.timestamp }}</div>
                           
                                <button (click)="showCorrections(ver)">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="separator"></div> 
                <div class="corrections" *ngIf="corrVisibility">
                    <h3>Revisioni</h3>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let cor of corrsToShow" [value]="cor" (click)="openCorrectionImage(cor)"> 
                            {{ cor.timestamp }}    
                        </mat-list-option>
                    </mat-selection-list>
                    <div *ngIf="corrsToShow.length == 0">
                    <h4>Nessuna correzione per questa versione</h4>
                    </div>
                </div>
            </div>

            <button mat-stroked-button class="upload" (click)="uploadVersion()">
                <mat-icon>cloud_upload</mat-icon> Carica versione
            </button>
        </div>
    </mat-card-content>
</mat-card>
