<mat-card class="cardVersion">
  <mat-card-header class="header">
   <mat-card-title>
     <button class = "iconClose" mat-icon-button color="primary" (click)="back()">
      <mat-icon>close</mat-icon></button>
            Versioni elaborato
        </mat-card-title>

        <button mat-raised-button color="primary" class="upload" onclick="this.blur()" *ngIf="homework != null && !homework.permanent && homework.status != 'NULL'"
        (click)="routeUploadVersion()">
        <mat-icon>cloud_upload</mat-icon> Carica versione
        </button>

    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="noVersions" *ngIf="versions.length == 0">
            <h4>Nessuna versione per questo homework</h4>
        </div>
        <div class="vr-container" *ngIf="versions.length > 0">
            <div class="versions-corrections">
                <div class="versions">
                  <br/>
                    <h3 class="title"><strong>Versioni</strong></h3>
                    <mat-divider></mat-divider>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let ver of versions" [value]="ver">
                          <mat-divider></mat-divider>
                            <div style="display: flex;">
                                <div style="text-align: center; vertical-align: middle;">{{ ver.timestamp }}</div>

                                <button class="bt-rev" mat-flat-button (click)="openVersionImage(ver)">
                                  Visualizza  <mat-icon>subject </mat-icon>
                              </button>

                                <button class="bt-rev" mat-flat-button color="primary" (click)="showCorrections(ver)">
                                    Revisioni <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="corrections" *ngIf="corrVisibility">
                  <br/>
                    <h3 class="title"><strong>Revisioni</strong></h3>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let cor of corrsToShow" [value]="cor">
                          <div style="display: flex;">
                            <div style="text-align: center; vertical-align: middle;">{{ cor.timestamp }}</div>

                            <button class="bt-rev" mat-flat-button  (click)="openCorrectionImage(cor)">
                              Visualizza  <mat-icon>subject </mat-icon>
                          </button>
                        </div>
                        </mat-list-option>

                    </mat-selection-list>


                    <div *ngIf="corrsToShow.length == 0">
                    <h4>Nessuna correzione per questa versione</h4>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>
