<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button mat-icon-button color="primary" (click)="back()">
                <mat-icon>close</mat-icon>
            </button>
            Versioni elaborato
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
        <div class="vr-container"> 
            <div class="versions-corrections">
                <div class="versions">
                    <h3>Versioni</h3>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let ver of versions" [value]="ver"> 
                            {{ ver.timestamp }}    
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="separator"></div> 
                <div class="corrections">
                    <h3>Revisioni</h3>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let rev of corrections" [value]="rev"> 
                            {{ rev.timestamp }}    
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>

            <input #hiddenfileinput class="inputfile" type="file" accept="image/*" (change)="uploadVersion($event)">
            <button mat-stroked-button class="upload" 
                 (click)="hiddenfileinput.click()">
                <mat-icon>cloud_upload</mat-icon> Carica revisione
            </button>
        </div>
    </mat-card-content>
</mat-card>
