<h2 mat-dialog-title>Crea corso</h2>
<mat-dialog-content>
<mat-form-field>
  <input #courseName type="text" placeholder="Nome del corso" matInput required>
</mat-form-field>
<br>
<mat-form-field>
  <input #min type="number" placeholder="Minimo iscrizioni" matInput min="10" max="250" value="10" required>
  <mat-error *ngIf="min.value < 10 || min.value > 250">Gli iscritti devono essere compresi tra 10 e 250</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input #max type="number" placeholder="Massimo iscrizioni" matInput min="10" max="250" value="250" required>
  <mat-error *ngIf="min.value < 10 || min.value > 250">Gli iscritti devono essere compresi tra 10 e 250</mat-error>
</mat-form-field>
<br>
<mat-form-field>
<button mat-button>
    <mat-icon>add_circle</mat-icon>
    Aggiungi docente
  </button>
</mat-form-field>
</mat-dialog-content>

<h3 id="error" style="color: red; visibility: hidden;">Corso già esistente</h3>

<mat-dialog-actions>
  <button mat-button (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="addCourse()">Crea</button>
</mat-dialog-actions>
