<h2 mat-dialog-title><mat-icon>desktop_mac</mat-icon> Modifica risorse VM</h2>
<mat-dialog-content>
<form [formGroup]="ModelVmForm">

    <!--Nome-->
    <mat-form-field>
        <input #name class="input" type="text" placeholder="Nome VM" formControlName="name" matInput required>
        <mat-error *ngIf="ModelVmForm.get('name').hasError('required')">Inserisci il nome</mat-error>
    </mat-form-field><br><br>

    <!--VCPU-->
    <mat-form-field>
        <input #vcpu class="input" type="number" placeholder="Numero VCPU" formControlName="vcpu" matInput required>
        <mat-error *ngIf="ModelVmForm.get('vcpu').hasError('required')">Inserisci il numero di vcpu</mat-error>
        <mat-error *ngIf="ModelVmForm.get('vcpu').hasError('min')">Minimo 1</mat-error>
        <mat-error *ngIf="ModelVmForm.get('vcpu').hasError('max')">Massimo 24 </mat-error>
    </mat-form-field><br><br>
    
    <!--Disco-->
    <mat-form-field>
        <input #disk class="input" type="number" placeholder="Numero disco" formControlName="disk" matInput min="10" max="500" required>
        <mat-error *ngIf="ModelVmForm.get('disk').hasError('required')">Inserisci la dimensione del disco</mat-error>
        <mat-error *ngIf="ModelVmForm.get('disk').hasError('min')">Minimo 10 MB</mat-error>
        <mat-error *ngIf="ModelVmForm.get('disk').hasError('max')">Massimo 500 MB </mat-error>
    </mat-form-field><br><br>

    <!--RAM-->
    <mat-form-field>
        <input #ram class="input" type="number" placeholder="Numero RAM" formControlName="ram" matInput min="1" max="250" required>
        <mat-error *ngIf="ModelVmForm.get('ram').hasError('required')">Inserisci la dimensione della RAM</mat-error>
        <mat-error *ngIf="ModelVmForm.get('ram').hasError('min')">Minimo 1MB</mat-error>
        <mat-error *ngIf="ModelVmForm.get('ram').hasError('max')">Massimo 250 MB </mat-error>
    </mat-form-field><br><br>

    <div class="tableName"> <h3><strong>Owners della VM</strong></h3></div>

    <!--Aggiunta Owner-->
    <div *ngIf="vm.owners.length < studentsInTeam.length">
        <mat-form-field>
        <input #input type="search" placeholder="Aggiungi owner" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onStudentSelected($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}} {{option.firstName}} ({{option.id}})
        </mat-option>
        </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab color="primary" [disabled]="studentsToAdd.length == studentsInTeam.length - 1" (click)="addStudent()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <!--Tabella Owners VM-->
   <div class="tableContainer">
       <table #table mat-table [dataSource]="dataSource" matSort class="matTable">
           <ng-container matColumnDef="id">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricola </th>
               <td mat-cell *matCellDef="let row"> {{row.id}} </td>
           </ng-container>
           <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
               <td mat-cell *matCellDef="let row"> {{row.name}} </td>
           </ng-container>
           <ng-container matColumnDef="firstName">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
               <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
           </ng-container>
           <ng-container matColumnDef="delete">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
           <td mat-cell *matCellDef="let row">
               <button mat-button *ngIf="studentsToAdd.includes(row)" (click)=deleteStudent(row)>
               <mat-icon>delete</mat-icon>
               </button>
           </td>
       </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>
   </div><br>

</form>
<br>
<button mat-raised-button color="warn" (click)="deleteVM()">
    Elimina
    <mat-icon>delete</mat-icon>
</button>
<mat-divider></mat-divider>
<br>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-raised-button color="warn" (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="editVM(name.value, vcpu.value, disk.value, ram.value)">Modifica</button>
</mat-dialog-actions>
