body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("undraw_programmer_imem.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}

h1 {
    padding-top: 20%;

    text-align:top;
    text-decoration: solid;
    color: rgb(23, 3, 204);
    font-size: xx-large;
    font: bold;
    text-shadow: 2px 0 0 rgb(255, 255, 255), 2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 2px 2px rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255);

}

.nameUser {
    text-align:top;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    text-shadow: 2px 0 0 rgb(255, 255, 255), 2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 2px 2px rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255);

}
