body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("undraw_programmer_imem.png");
    background-size: 100%;
}

h1 {
    padding-top: 20%;
    text-align:top;
    text-decoration: solid;
    color: rgb(23, 3, 204);
    font-size: xx-large;
    font: bold;
}

h2 {
    text-align:top;
    text-decoration: solid;
}