<h2 mat-dialog-title>Carica correzione</h2>
<mat-dialog-content>
    <h4>Inserire un voto se si ritiene l'elaborato in versione definiriva</h4>
    <input #grade type="string" placeholder="Voto">
    <br><br>
    <input type="file" accept="image/*" (change)="onFileChanged($event)">
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="close()">Annulla</button>
    <button mat-button mat-raised-button color="primary" (click)="uploadCorrection(grade.value)">Carica</button>
</mat-dialog-actions>
