.mat-sidenav-container {
    margin: 0.7%;
    height: 80.8%;
}

:focus {
  outline: 0 !important;
  box-shadow: 0;
}


.toolbarCourse{
  background-color: #3f51b53a;
}

.buttonS{
  margin-left: 2%;
}

.buttonS:focus {
  outline: none;
  box-shadow: none;
  background-color:  #3F51B5!important;
}

.homeBtn {
  cursor: pointer;
}

.mat-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.NomeCorso{
  text-shadow:-1px 1px 0 rgb(190, 190, 190);
  margin-left: 2%;
}

.settings{
  margin-left: 2%;
}

.sidenav {
    width: 25%;
    background-image: url(teaching.png);
    background-position: bottom;

    background-size: 80%;
    background-repeat: no-repeat;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-tab-link {
    opacity: 1;
}

.noCourses {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

