.mat-sidenav-container {
    margin: 0.7%;
    height: 80.8%;
}

.toolbarCourse{
  background-color: #3f51b53a;
}

.NomeCorso{
  text-shadow:-1px 1px 0 rgb(190, 190, 190);
  margin-left: 2%;
}

.settings{
  margin-left: 2%;
}

.sidenav {
    width: 25%;
    background-image: url(teaching.png);
    background-position: bottom;

    background-size: 80%;
    background-repeat: no-repeat;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-tab-link {
    opacity: 1;
}

.noCourses {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

