<!DOCTYPE html>
<html>
<head>
  <title>VirtualLabs</title>
</head>
<body>

  <mat-toolbar color="primary">
    <button mat-button (click)=toggleForMenuClick()>
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/home">VirtualLabs</span>
    <span class="example-spacer"></span>
    <button #btLogin mat-button *ngIf="loginVisibility" (click)="openDialogLogin()">Login</button>
    <button #btLogout mat-button *ngIf="!loginVisibility" (click)="logout()">Logout</button>
    <button #btRegister mat-button *ngIf="loginVisibility" (click)="openDialogRegister()">Registrati</button>
  </mat-toolbar>

  <mat-toolbar *ngIf="!homeVisibility">  
    <mat-toolbar-row>
      <span>Applicazioni Internet</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="mat-sidenav-container">

    <app-home *ngIf="homeVisibility"></app-home>
    <app-page-not-found *ngIf="notFoundVisibility"></app-page-not-found>

    <mat-sidenav #sidenav mode="side" closed class="sidenav">
      <div class="sidenavContainer">
        <h2>I miei corsi</h2>

        <mat-nav-list>
          <mat-list-item mat-list-item routerLink="teacher/course/applicationi-internet/students">Applicazioni Internet</mat-list-item>
          <mat-list-item mat-list-item routerLink=".">Programmazione di sistema</mat-list-item>
        </mat-nav-list>
      </div>

      <br>
      <button mat-button (click)="openDialogCourse()">
        <mat-icon>add_circle</mat-icon>
        Crea corso
      </button>

    </mat-sidenav>

    <mat-sidenav-content *ngIf="!homeVisibility">
      <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="teacher/course/applicationi-internet/students">Studenti

        </a>

        <a mat-tab-link routerLink="teacher/course/applicationi-internet/vms">VMs
          
        </a>

        <a mat-tab-link routerLink=".">Gruppi

        </a>

        <a mat-tab-link routerLink=".">Elaborati

        </a>
      </nav>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
</html>