.mat-sidenav-container { 
    margin: 20px; 
    height: 80%; 
}

.sidenav {
    width: 25%;
    background-image: url(teaching.png);
    background-position: bottom;

    background-size: 80%;
    background-repeat: no-repeat;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-tab-link {
    opacity: 1;
}

.deleteCourse {
    color: red;
}

.noCourses {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

