<!DOCTYPE html>
<html>
<head>
  <title>VirtualLabs</title>
</head>
<body class="Wall">

  <mat-toolbar color="primary">
    <button mat-button *ngIf="!loginVisibility" (click)=toggleForMenuClick()>
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/home" class="homeBtn">VirtualLabs</span><mat-icon>developer_board</mat-icon>
    <span class="example-spacer"></span>
    <button #btLogin class="buttonS" mat-button *ngIf="loginVisibility"  (click)="routeToLogin()"> <mat-icon>login</mat-icon> Login</button>
    <button #btLogout class="buttonS" mat-button *ngIf="!loginVisibility" (click)="routeMyProfile()"> <mat-icon>face</mat-icon> {{firstName}} {{name}} - Profilo</button>
    <button #btLogout class="buttonS" mat-button *ngIf="!loginVisibility" (click)="logout()"><mat-icon>outbond</mat-icon>Logout</button>
    <button #btRegister class="buttonS" mat-button *ngIf="loginVisibility" (click)="routeToRegister() "><mat-icon>portrait</mat-icon>Registrati</button>
  </mat-toolbar>

  <mat-toolbar class="toolbarCourse" *ngIf="!homeVisibility && !notFoundVisibility && LoginSuccess" >
    <mat-toolbar-row>

      <span class="NomeCorso" style="color:rgb(228, 18, 140)" >{{ courseName }}</span>

      <button mat-raised-button color="primary" *ngIf="teacherVisibility" class="settings"(click)="routeCourseEdit()">
        <mat-icon>settings</mat-icon>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <app-page-not-found *ngIf="notFoundVisibility"></app-page-not-found>

  <mat-sidenav-container class="mat-sidenav-container" *ngIf="!notFoundVisibility">

    <app-home *ngIf="homeVisibility"></app-home>

    <mat-sidenav #sidenav mode="side" closed class="sidenav">
      <div class="sidenavContainer">
        <h2 style="color: rgb(9, 9, 170);">I miei corsi</h2>

        <div class="noCourses" *ngIf="courses.length == 0">
          <h3>Nessun corso</h3>
        </div>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <mat-list-item class="item" mat-list-item *ngFor="let course of courses" [routerLink]="[getRouteWithCourse(course)]" (click)="setCurrentCourse(course)">
            <mat-icon>web_asset</mat-icon> {{ getCourseName(course.name) }}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </div>


      <br>
      <button mat-button *ngIf="teacherVisibility" (click)="routeNewCourse()">
        <mat-icon>add_circle</mat-icon>
        Crea corso
      </button>

    </mat-sidenav>

    <mat-sidenav-content *ngIf="!homeVisibility">
      <nav mat-tab-nav-bar *ngIf="teacherVisibility && LoginSuccess">
        <a mat-tab-link [active]="activeTab == 0" [routerLink]="[getRoute(0)]">Studenti

        </a>

        <a mat-tab-link [active]="activeTab == 1" [routerLink]="[getRoute(1)]">VMs

        </a>

        <a mat-tab-link [active]="activeTab == 2" [routerLink]="[getRoute(2)]">Elaborati

        </a>
      </nav>

      <nav mat-tab-nav-bar *ngIf="!teacherVisibility  && LoginSuccess">
        <a mat-tab-link [active]="activeTab == 0" [routerLink]="[getRoute(0)]">Gruppi

        </a>

        <a mat-tab-link [active]="activeTab == 1" [routerLink]="[getRoute(1)]">VMs

        </a>

        <a mat-tab-link [active]="activeTab == 2" [routerLink]="[getRoute(2)]">Elaborati

        </a>
      </nav>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</body>

</html>
