<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
<mat-form-field>
  <input #email type="email" placeholder="email" matInput required>
  <mat-error *ngIf="email.invalid">Email non valida</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input #password type="password" placeholder="password" matInput required minlength="8">
  <mat-error>Password non valida</mat-error>
</mat-form-field>
</mat-dialog-content>

<br>
<mat-dialog-content>
  <a>Non sei registrato?</a>
  <br>
  <button mat-button (click)="openDialogRegister()">Registrati</button>
</mat-dialog-content>

<h3 id="error" style="color: red; visibility: hidden;">Username o password errati</h3>

<mat-dialog-actions>
  <button mat-button (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="login(email, password)">Login</button>
</mat-dialog-actions>
