h2 {
    text-align: center;
    font-size: 1.5em;
}

.form{
  margin-top: 2%;
  width: 70%;
}

.container {
    display: flex;
    height: 80%;
    justify-content: center;
}

.formField{
  margin-bottom: 5%;
  margin-left: 3%;
  border: black;
  border-color: black;
}

.input{
  font-size:1.3em;
  width: 100%;

}

.inputErr{
  font-size:1.3em;
  margin-left:1%;
}


.btnLogin{
  margin-right:1em;
}

.avatar {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 3.5em;
}

.rounded-box {
    width: 100%;
    height: auto;
    max-width: 10em;
    max-height: 10em;
    background-size: 10em 10em;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    position: static;
    overflow: hidden;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.camera-box {
    background-color: #3F51B5;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    top: -50px;
    float: right;
    position: relative;
}

.camera-box:hover {
    background-color: #303F9F;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 3px;
}

.inputfile + label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    align-self: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    cursor: pointer;
    line-height: 50px;
}

.camera {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    color: white;
}

mat-dialog-actions {
    float: right;
}

.success {
    text-align: center;
    margin: 0 auto;
    color: green;
}

.login {
    display: table;
    margin: 0 auto;
}
