.mat-table{
  margin:2%;
  width: 90%;
}

.iconButton:hover{
  background-color:#001ea34d;
}

.row:active{
  background-color:#281fa846;
  color: white;
}
.row:hover{
  background-color:#001ea34d;
  color: white;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.buttonText{
  margin-left:45%;
}

.tableContainer {
    overflow: hidden;
}


