h1 {
  font-weight: bold;
  margin: 1em;
}
.mat-table{
  margin:2%;
  width: 90%;
}

.row:active{
  background-color:#281fa846;
  color: white;
}
.row:hover{
  background-color:#001ea34d;
  color: white;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
  transition: 0.5s linear all;
}

.buttonText{
  margin-left:45%;
}

.tableContainer {
    overflow: hidden;
}


