h1 {
  font-weight: bold;
  margin: 1em;
}
.mat-table{
  margin:2%;
  width: 100%;
}

.card {
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
}

.tableContainer {
    overflow: hidden;
}

.button-request {
  margin-top: 2%;
  margin-left: 2%;

}

