.button-request {
    margin: 1%;
}

.vmsContainer {
    width: 100%;
    overflow: hidden; 
}

.teamsContainer {
    width: 30%;
    float:left;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 5%;
}

.tableContainer {
    overflow: hidden; 
    margin-right: 2%;
}

h1 {
    font-weight: bold; 
    margin: 1em;
}

.matTable {
    width: 100%;
}

.vmsOwner{
    margin-top: 1%;
    border-radius: 15px;
}

.noVMs {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

