h3 {
  margin-top: 2%;
}

.dialogAdd{
  width: 100%;
}

mat-dialog-actions {
  float: right;
}

.gestioneVm{
  background-color: lavender;
}

.backButton{
  margin-right:2%;
}

.tableContainer {
  width: 100%;
}

.matTable {
  width: 100%;
  margin: 0 auto;
}

#default {display:inline-block;}

.pageTwo{
  width: 100%;
}

.matForm{
  width: 100%;
}
