<h2 mat-dialog-title>Crea corso</h2>
<mat-dialog-content>
  <div>
  <p>Nome del corso</p>
  <mat-form-field>
    <input #courseName class="input" type="text" placeholder="Nome del corso" matInput required>
  </mat-form-field>
  </div>
  <br>
  <div>
  <p>Massimo iscrizioni</p>
  <mat-form-field>
    <input #max class="input" type="number" placeholder="Massimo iscrizioni" matInput min="10" max="250" value="250" required>
    <mat-error *ngIf="min.value < 10 || min.value > 250">Gli iscritti devono essere compresi tra 10 e 250</mat-error>
  </mat-form-field>
  </div>
  <br>
  <div>
  <p>Minimo iscrizioni</p>
  <mat-form-field>
    <input #min class="input" type="number" placeholder="Minimo iscrizioni" matInput min="10" max="250" value="10" required>
    <mat-error *ngIf="min.value < 10 || min.value > 250">Gli iscritti devono essere compresi tra 10 e 250</mat-error>
  </mat-form-field>
  </div>
  <br>
    <mat-form-field class="matForm">
        <input #input type="search"
                placeholder="Aggiungi professore"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onTeacherSelected($event.option.value)">
        <mat-option *ngFor="let option of allTeachers" [value]="option">
            {{option.name}} {{option.firstName}} ({{option.id}})
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="addTeacher()">Aggiungi</button>

    <div class="tableContainer" *ngIf="tableVisibility"> 
      <table #table mat-table [dataSource]="dataSource" matSort class="matTable">
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
              <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-button class="delete">
                <mat-icon aria-label="" (click)=deleteTeacher(row)>delete</mat-icon>
              </button>
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
</mat-dialog-content>

<h3 id="error" style="color: red; visibility: hidden;">Corso già esistente</h3>

<mat-dialog-actions>
  <button mat-button (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="addCourse(courseName.value, min.value, max.value)">Crea</button>
</mat-dialog-actions>
