<body>
  <br>
  <h2 mat-dialog-title>Login</h2>

  <mat-dialog-content><br>

        <!--LoginForm-->
        <form [formGroup]="LoginForm">

            <!--Email-->
            <mat-form-field class="formField">
              <input class="input" #email type="email" placeholder="Email" formControlName="email" matInput required>
                <mat-error class="input" *ngIf="LoginForm.hasError('required','email')">Email non valida</mat-error>
                <mat-error class="input" *ngIf="LoginForm.get('email').hasError('emailDomain')">Utilizza il dominio: studenti.polito.it o polito.it</mat-error>
              </mat-form-field><br>

            <!--Password-->
            <mat-form-field class="formField">
                <input class="input" #password type="password" placeholder="Password" formControlName = "password" matInput required minlength="8">
                <mat-error class="input" *ngIf="LoginForm.get('password').hasError('required')">Password obbligatoria</mat-error>
            </mat-form-field><br>

            <h3 *ngIf="badCredentials">Username o password errati</h3>

            <div>
              <button mat-button mat-raised-button class="btnLogin"color="primary" type = "submit" (click) = "login(email.value, password.value)"> Login </button>
              <button mat-button mat-raised-button color="warn" (click)="close()"> Annulla </button>
            </div><br/>

            <!--Register-->
            <div class="register"> Non sei registrato?
            <button mat-button mat-stroked-button (click)="routeToRegister()">Registrati</button>
            </div><br>

            <!--Password Dimenticata-->
            <div class="passwordForget"> Hai dimenticato la password?
              <button mat-button mat-stroked-button (click)="routeForgotPass()">Recupera Password</button>
            </div>

        </form>

  </mat-dialog-content>
</body>
