<div class="container">
  <mat-card class="card">
    <mat-card-header>
       <mat-card-title>Cambia Password</mat-card-title>
       <mat-card-subtitle>Compila i seguenti campi</mat-card-subtitle>
     </mat-card-header>

    <mat-card-content>
      <form [formGroup]="ChangePasswordForm" class="changePwd" *ngIf="!ok && !msg">
        <mat-form-field>
            <mat-label>Nuova password</mat-label>
            <input #newPassword type="password" matInput required formControlName="password" minlength="8">
            <mat-error class="input" *ngIf="ChangePasswordForm.hasError('required', 'password')">Inserisci una password</mat-error>
            <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('minlength','password')">Inserisci almeno 8 caratteri</mat-error>
            <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('maxlength','password')">Inserisci non più di 20 caratteri</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ripeti password</mat-label>
            <input #passR type="password" matInput required formControlName="confirmPassword" minlength="8">
            <mat-error class="input" *ngIf="ChangePasswordForm.hasError('notSame')"> Le due password non coincidono</mat-error>
            <mat-error class="inputErr" *ngIf="ChangePasswordForm.get('confirmPassword').hasError('minlength')">Inserisci almeno 8 caratteri</mat-error>
            <mat-error class="inputErr" *ngIf="ChangePasswordForm.get('confirmPassword').hasError('maxlength')">Inserisci non più di 20 caratteri</mat-error>
        </mat-form-field>
        <br><br>
        <button mat-button class="Salva" mat-raised-button color="primary" onclick="this.blur()" (click)="save(newPassword.value, passR.value)">Salva</button>
      </form>

      <!--Controlli-->
      <div *ngIf="msg">
          <h4 color="warn">{{msg}}</h4>
      </div>
      <div *ngIf="error">
          <h4 color="warn">Si è verificato un errore nell'aggiornamento della password</h4>
      </div>
      <div *ngIf="ok">
          <h4>Password aggiornata con successo, è possibile effettuare il login</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
