.card {
  /* Center vertically and horizontally */
  position: relative;
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;
}

.changePwd {
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  position: relative;
}

.container {
  position: relative;
}

