<div class="container">
  <mat-card class="card">
    <mat-card-header>
       <mat-card-title>Cambia Password</mat-card-title>
       <mat-card-subtitle>Compila i seguenti campi</mat-card-subtitle>
     </mat-card-header>

    <mat-card-content>
      <div class="changePwd" *ngIf="!ok && !msg">
        <mat-form-field>
            <mat-label>Nuova password</mat-label>
            <input #newPassword type="password" matInput required minlength="8">
            <mat-error>Password non valida</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ripeti password</mat-label>
            <input #passR type="password" matInput required minlength="8">
            <mat-error>Password non valida</mat-error>
        </mat-form-field>
        <br>
        <button mat-button mat-raised-button color="primary" (click)="save(newPassword.value, passR.value)">Salva</button>
      </div>

      <!--Controlli-->
      <div *ngIf="msg">
          <h4 color="warn">{{msg}}</h4>
      </div>
      <div *ngIf="error">
          <h4 color="warn">Si è verificato un errore nell'aggiornamento della password</h4>
      </div>
      <div *ngIf="ok">
          <h4>Password aggiornata con successo, è possibile effettuare il login</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
