<h2 mat-dialog-title>Profilo</h2><br>
<mat-dialog-content>
    <div class="account">
      <div class="avatar">
        <div class="rounded-box">
          <img class="img" [src]="avatar" />
        </div>
        <div class="camera-box">
          <input class="inputfile" type="file" name="pic" accept="image/*"
            (change)="onFileChanged($event)">
          <label><mat-icon class="camera">camera_alt</mat-icon></label>
        </div>
      </div>
      <div class="info">
        <h2 id="name">{{ currentUser.name }} {{ currentUser.firstName }}</h2>
        <h3 id="enrollN">{{ currentUser.id }}</h3>
        <h3 id="email">{{ currentUser.email }}</h3>
      </div>
    </div>
</mat-dialog-content>

<mat-dialog-content>
  <div class="changePassword">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Cambia password </mat-panel-title>
        </mat-expansion-panel-header>
            <form [formGroup]="ChangePasswordForm">
              <mat-form-field>
                  <mat-label>Password attuale</mat-label>
                  <input #actualPassword type="password" matInput required formControlName="actualPassword" minlength="8">
                  <mat-error class="input" *ngIf="ChangePasswordForm.hasError('required', 'actualPassword')">Inserisci una password</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('minlength','actualPassword')">Inserisci almeno 8 caratteri</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('maxlength','actualPassword')">Inserisci non più di 20 caratteri</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <mat-label>Nuova password</mat-label>
                  <input #newPassword type="password"  matInput required formControlName="newPassword" minlength="8">
                  <mat-error class="input" *ngIf="ChangePasswordForm.hasError('required', 'newPassword')">Inserisci una Nuova password</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('minlength','newPassword')">Inserisci almeno 8 caratteri</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('maxlength','newPassword')">Inserisci non più di 20 caratteri</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <mat-label>Ripeti password</mat-label>
                  <input #repeatPassword type="password" matInput required formControlName="repeatPassword" minlength="8">
                  <mat-error class="input" *ngIf="ChangePasswordForm.hasError('notSame')"> Le due password non coincidono</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('minlength','repeatPassword')">Inserisci almeno 8 caratteri</mat-error>
                  <mat-error class="inputErr" *ngIf="ChangePasswordForm.hasError('maxlength','repeatPassword')">Inserisci non più di 20 caratteri</mat-error>
              </mat-form-field>
            </form>
      </mat-expansion-panel>
  </div>
</mat-dialog-content>

<mat-progress-bar mode="query" *ngIf="querying"></mat-progress-bar>
<a *ngIf="avatar_ok">Avatar aggiornato con successo</a>
<a *ngIf="pwd_ok">Password aggiornata con successo</a>

<mat-dialog-actions>
  <button mat-button (click)="close()">Annulla</button>
  <button mat-button mat-raised-button color="primary" (click)="save(actualPassword.value, newPassword.value, repeatPassword.value)">Salva</button>
</mat-dialog-actions>
