<form (keyup.enter)="saveModel(maxVcpu.value, maxDisk.value, ram.value, totInstances.value, runningInstances.value)">
  <h2 mat-dialog-title>Modifica modello</h2>
  <mat-dialog-content>

    <mat-card class="risorseDisponibili" *ngIf="totRes!=null">
      <mat-card-subtitle>
        <strong>Massimo valore attualmente utilizzato per risorsa</strong>
      </mat-card-subtitle>
      <mat-card-content>
        <h5>VCpu: <strong>{{totRes.vcpu}} </strong> </h5>
        <h5>Spazio disco (GB): <strong> {{totRes.diskSpace}}</strong></h5>
        <h5>Ram (GB): <strong>{{totRes.ram}} </strong></h5>
        <h5>VM totali: <strong>{{totRes.total}} </strong></h5>
        <h5>VM attive: <strong>{{totRes.running}} </strong></h5>
      </mat-card-content>
    </mat-card>

    <form [formGroup]="ModelVmForm">

      <!--Massimo VCPU-->
      <mat-form-field>
          <input #maxVcpu class="input" type="number" placeholder="Massimo VCPU" formControlName="max_vcpu" matInput min="1" required>
          <mat-error *ngIf="ModelVmForm.get('max_vcpu').hasError('required')">Inserisci un numero massimo di vcpu</mat-error>
          <mat-error *ngIf="ModelVmForm.get('max_vcpu').hasError('min')">Un team sta utilizzando più VCpu</mat-error>
      </mat-form-field><br><br>

      <!--Massimo disco-->
      <mat-form-field>
          <input #maxDisk class="input" type="number" placeholder="Massimo disco (GB)" formControlName="max_disco" matInput min="1" required>
          <mat-error *ngIf="ModelVmForm.get('max_disco').hasError('required')">Inserisci una dimensione massima del disco</mat-error>
          <mat-error *ngIf="ModelVmForm.get('max_disco').hasError('min')">Un team sta utilizzando più spazio</mat-error>
      </mat-form-field><br><br>

      <!--Massima RAM-->
      <mat-form-field>
          <input #ram class="input" type="number" placeholder="Massima RAM (GB)" formControlName="max_ram" matInput min="1" required>
          <mat-error *ngIf="ModelVmForm.get('max_ram').hasError('required')">Inserisci una dimensione massima della RAM</mat-error>
          <mat-error *ngIf="ModelVmForm.get('max_ram').hasError('min')">Un team sta utilizzando più RAM</mat-error>
      </mat-form-field><br><br>

      <!--Massimo VM-->
      <mat-form-field>
          <input #totInstances class="input" type="number" placeholder="Massimo VM" formControlName="max_vm" matInput min="1" required  >
          <mat-error *ngIf="ModelVmForm.get('max_vm').hasError('required')">Inserisci un numero massimo di VM</mat-error>
          <mat-error *ngIf="ModelVmForm.get('max_vm').hasError('min')">Un team ha più VM</mat-error>
      </mat-form-field><br><br>

      <!--Massimo VM attive-->
      <mat-form-field>
          <input #runningInstances class="input" type="number" placeholder="Massimo VM attive" formControlName="max_vm_active" matInput min="1" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="ModelVmForm.get('max_vm_active').hasError('required')">Inserisci un numero massimo di VM attive</mat-error>
          <mat-error *ngIf="ModelVmForm.get('max_vm_active').hasError('min')">Un team ha più VM attive</mat-error>
          <mat-error *ngIf="ModelVmForm.hasError('ErrorVmActivated')"> Non puoi inserire un valore maggiore delle Vm disponibili</mat-error>

      </mat-form-field><br><br>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-button mat-raised-button color="warn" (click)="close()">Annulla</button>
      <button mat-button mat-raised-button color="primary" (click)="saveModel(maxVcpu.value, maxDisk.value, ram.value, totInstances.value, runningInstances.value)">Aggiorna</button>
  </mat-dialog-actions>


</form>
