<div *ngIf="VMsVisibility">
    <table #table mat-table [dataSource]="dataSource" matSort class="matTable">
        <ng-container matColumnDef="vmName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.nameVM}} </td>
        </ng-container>
        <ng-container matColumnDef="owners">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proprietario </th>
            <td mat-cell *matCellDef="let row"> {{getOwners(row.owners)}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato </th>
            <td mat-cell *matCellDef="let row"> {{getStatus(row.status)}} </td>
        </ng-container>
        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Collegamento </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-stroked-button (click)=openVM(row)>Collegati</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                
    </mat-paginator>
</div>
<div class="noVMs" *ngIf="!VMsVisibility">
    <h3>Nessuna VM per questo gruppo</h3>
</div>
