.card {
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;
}

.matTable {
    width: 100%;
}

.iconButton:hover{
    background-color:#001ea34d;
}

.resources{
    background-color: rgba(128, 255, 0, 0.219);
    width: 30%;
  }