<h1>Macchine virtuali degli studenti</h1>

<!-- Bottone Modello Vm -->
<div class="button-request" align="right">
    <button mat-button  align ="end" mat-raised-button color="primary" (click)="openDialogModel()">
        <mat-icon>desktop_windows</mat-icon>Modifica modello VM
    </button>
</div>

<div class="vmsContainer" *ngIf="teamsVisibility">
    <div class="teamsContainer">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let team of teams" [value]="team" (click)="selectTeam(team)"> 
                {{ team.name }} </mat-list-option>
        </mat-selection-list>
    </div>
    <app-team-vms-cont class="tableContainer" [team]="TEAM" *ngIf="teamVMsVisibility"></app-team-vms-cont> 
</div>
<div class="noTeams" *ngIf="!teamsVisibility">
    <h3>Nessun team in questo corso</h3>
</div>
