<mat-card class="card" *ngIf="!teamVMsVisibility">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>groups</mat-icon>
            Gruppi degli studenti
        </mat-card-title>
        <mat-card-subtitle *ngIf="!teamsVisibility">Nessun team in questo corso</mat-card-subtitle>
        <mat-card-subtitle *ngIf="teamsVisibility">Selezionare un team</mat-card-subtitle>

        <!-- Bottone Modello Vm -->
        <div class="button-request" align="right">
            <button mat-button  align ="end" mat-raised-button color="primary" onclick="this.blur()" (click)="routeToEditModel()">
                <mat-icon>desktop_windows</mat-icon>Modifica modello VM
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="vmsContainer" *ngIf="teamsVisibility">
            <div class="teamsContainer">
                <mat-selection-list [multiple]="false">
                    <mat-list-option *ngFor="let team of teams" [value]="team" (click)="selectTeam(team)">
                        {{ team.name }} </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<app-team-vms-cont *ngIf="false"></app-team-vms-cont>
<router-outlet (activate)="onRouterOutletActivate($event)" (deactivate)="onRouterOutletDeactivate($event)"></router-outlet>
